@import 'styles/_colors.scss';
.App-link {
  color:$highlight-color;
}

._layout{
  .ant-layout-sider{
    .ant-menu{
      .ant-menu-item{
        a{
          display: inline-block;
        }
      }
    }
  }
  .ant-layout{
    background:#fff;
  }
}